@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 80px !important;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 75px !important;
  }
}


*, *::before, *::after {
  scroll-margin-top: 80px;
}